.temp-content{
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 230rem;
    background-color: rgb(94, 134, 104);
}

.top-bg-content{
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 20rem;
    background-color: rgba(236, 201, 0, 0.863);
}

