/* global stylings */

@import url("http://fonts.googleapis.com/css?family=Montserrat:900&display=swap");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:700&display=swap");
@import url("http://fonts.googleapis.com/css?family=Roboto:500&display=swap");

:root {
  --color: #ff5252;
  --t-color: #575757;
  --d-c: #2d3436;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: url(../assets/img/backdrop.jpeg);
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(227,227,230,1) 35%, rgba(168,168,168,1) 100%); */
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2d3436;
}

/* global stylings */

/* profile page stylings */

.btn {
  border: 1px solid #e9e9e9;
  background: var(--d-c);
  color: #eee;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "Montserrat" sans-serif;
  cursor: pointer;
  transition: all 0.4s ease;
}

.btn:hover {
  background: #fff;
  color: var(--d-c);
}

.logout-btn {
  display: flex;
  margin: 60px 0 20px 60px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15), 0 4px rgba(0, 0, 0, 0.3);
  height: 69px;
  z-index: 10;
  position: relative;
  top: 0;
  left: 0;
}

header .logo {
  padding: 15px 25px;
}

header .logo h1 {
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: var(--t-color);
}

header .nav {
  position: relative;
  /* border-left: 1px solid #e9e9e9; */
}

header .nav ul {
  display: flex;
  justify-content: space-between;
}

header .nav ul li {
  padding: 26px 20px 24px 20px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.header .nav ul li h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
}

header .nav ul li.active,
header .nav ul li:hover {
  background: var(--d-c);
  box-shadow: 0 -4px 0px var(--color) inset;
  color: #fff;
}

.bars {
  display: none;
  margin-right: 20px;
  color: #797979;
  cursor: pointer;
  font-size: 1.6em;
}

.nav-mobile {
  display: none;
}

aside {
  position: relative;
  top: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15), 0 4px rgba(0, 0, 0, 0.3);
  width: 270px;
  height: 100%;
  z-index: 10;
  float: left;
  background: #fff;
  font-family: "Roboto", sans-serif;
  overflow: auto;
}

aside h1 {
  padding: 20px;
  text-transform: uppercase;
  color: var(--t-color);
}

.close {
  float: right;
  font-size: 0.9em;
  display: none;
  cursor: pointer;
}

aside .user-side {
  padding: 20px;
  border-top: 1px solid #e9e9e9;
}

aside .user-pic {
  float: left;
  width: 70px;
  height: 70px;
  padding: 2px;
  border-radius: 12px;
}

aside .user-pic img {
  width: 100%;
  height: 100%;
}

aside .user-info {
  display: flex;
  flex-direction: column;
  color: var(--t-color);
}

aside .name {
  margin-bottom: 4px;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 900;
}

aside .mail,
aside .status {
  font-size: 14px;
  font-family: "open sans" sans-serif;
}

aside .status {
  margin-top: 3px;
  position: relative;
  margin-left: 10px;
}

aside .status::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background: lightgreen;
  border-radius: 50%;
  left: -10px;
  top: 5.5px;
}

aside .search {
  border-top: 1px solid #e9e9e9;
  padding: 20px;
}

aside .search .row {
  position: relative;
  display: flex;
  width: 100%;
}

aside .search input {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid #dfdfdf;
  border-radius: 4px 0 0 4px;
  outline: none;
  font-family: "open sans" sans-serif;
}

aside .search button {
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: 0 4px 4px 0;
  border: 1px solid var(--d-c);
  background: var(--d-c);
  color: #fff;
  outline: none;
  cursor: pointer;
  border-left: 0;
}

.side-nav {
  border-top: 1px solid #e9e9e9;
  padding: 20px 0;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.side-nav h2 {
  font-size: 1.2em;
  padding: 10px 0px 5px 20px;
  color: var(--t-color);
  margin-bottom: 10px;
}

.side-nav ul li {
  display: flex;
  width: 100%;
  position: relative;
  padding: 8px 0px 8px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.side-nav ul li.active,
.side-nav ul li:hover {
  background: #eee;
}

.side-nav ul li span {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
  background: var(--color);
  color: #fff;
}

.side-nav ul li h3 {
  line-height: 30px;
  font-size: 1.2em;
  color: var(--t-color);
  font-weight: 100;
}

.bt-nav {
  background: var(--t-color);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bt-nav ul {
  display: flex;
  justify-content: space-around;
}

.bt-nav ul li {
  line-height: 30px;
  position: relative;
  color: #fff;
  cursor: pointer;
}

.alert::after,
.message::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  top: 2px;
  background: red;
}

.alert::after {
  background: lightgreen;
}

.m-bar {
  display: none;
}

.main {
  position: relative;
  margin-left: 300px;
}

.main section {
  width: 100%;
  height: 100%;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  display: none;
}

.main section h1 {
  margin: 0 auto 20px;
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
  color: var(--t-color);
}

.main section .text {
  font-weight: 500;
  padding: 30px 50px;
  font-size: 25px;
  height: auto;
  display: flex;
  align-items: center;
}

.userpost {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 25px;
}

.userpost .post {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.userpost .post:first-child {
  background: var(--t-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.userpost .post:first-child span {
  text-align: center;
  width: 70px;
  height: 70px;
  background: var(--color);
  border-radius: 50%;
  line-height: 70px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.userpost .posts img {
  width: 100%;
  height: 90%;
}

.userpost .posts p {
  margin-left: 10px;
  line-height: 30px;
}

@media (max-width: 900px) {
  header {
    width: 100%;
    box-shadow: unset;
    border-bottom: 1px solid #e9e9e9;
  }

  .nav {
    display: none;
  }

  .bars {
    display: block;
  }

  .nav-mobile {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 102%;
    z-index: 50;
    background: #fff;
    padding: 10px;
    transition: all 0.4s ease-in-out;
    border-top: 1px solid #e9e9e9;
    width: 100%;
  }

  .nav-mobile ul {
    padding: 10px 20px;
  }

  .nav-mobile ul li {
    display: flex;
    align-items: center;
    color: #797979;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
  }

  .nav-mobile ul li.active,
  .nav-mobile ul li:hover {
    background: var(--color);
    color: #fff;
  }

  .nav-mobile ul li span {
    line-height: 1;
    font-size: 22px;
    -webkit-font-smoothing: antialiased;
  }

  .nav-mobile ul li h3 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-left: 20px;
  }

  .nav-mobile.show {
    top: 69px;
  }

  .m-bar {
    display: block;
    color: #797979;
    cursor: pointer;
    position: absolute;
    width: 35px;
    font-size: 1.6em;
    border-radius: 0 0 10px 0;
    background: #fff;
    text-align: center;
    line-height: 40px;
    z-index: 15;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  aside {
    transition: all 0.4s ease-in-out;
    top: 69px;
    z-index: 20;
    position: absolute;
    overflow: hidden;
    box-shadow: unset;
    width: 0;
    border-top: 1px solid #e9e9e9;
    transform: translateX(-275px);
  }

  aside.show {
    transform: translateX(0);
    width: 100%;
  }

  .close {
    display: block;
  }

  .main {
    margin-left: 0px;
  }

  .main section {
    width: 100%;
  }

  .main section .text {
    padding: 10px;
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  .userpost .posts:first-child {
    height: 400px;
    z-index: 10;
  }
}

/* profile page stylings */
